<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Item</title>
    <!-- Google Material Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Crime Scene Essentials</h1>
    <p><strong>INVENTORY MANAGEMENT APP</strong></p>
    <!-- Selected Category Banner -->
    <div class="selected-category-banner">
      <h2><%= categoryName %></h2>
    </div>
    <div class="container">
      <h2>Add Item</h2>
      <form action="/<%= categoryName %>/add-item" method="POST">
        <div class="form-group">
          <label for="name">Item Name</label>
          <input type="text" name="name" id="name" required />
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" required min="0" />
          <!-- TODO: Implement string input instead of ID -->
          <label for="manufacturer">Manufacturer ID</label>
          <input type="number" name="manufacturer" id="manufacturer" required />
          <label for="price">Price ($)</label>
          <input
            type="number"
            name="price"
            id="price"
            step="0.01"
            required
            min="0"
          />
          <label for="orderablity">Orderablity</label>
          <input type="text" name="orderablity" id="orderablity" required />
          <div class="form-actions">
            <button type="submit" class="save-btn">Add</button>
            <button
              type="button"
              class="cancel-btn"
              onclick="window.location.href='/<%= categoryName %>'"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
