<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crime Scene Essentials - Error</title>
    <!-- Google Material Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <p><strong>INVENTORY MANAGEMENT APP</strong></p>

    <!-- Selected Category Banner -->
    <div class="selected-category-banner error">
      <h2><%= error %></h2>
    </div>

    <!-- Back and Add Item Buttons -->
    <div class="category-actions">
      <button class="back-btn" onclick="window.location.href='/'">
        <span class="material-icons">arrow_back</span> Back
      </button>
    </div>
  </body>
</html>
