body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

h1,
.header-banner {
  margin-top: 20px;
  color: #333;
}

p {
  color: #666;
  margin-bottom: 20px;
}

/* Index view */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0 20px 20px 20px;
}

.add-btn {
  background: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-btn:hover {
  background: #218838;
}

.category-banner {
  width: 80%;
  max-width: 500px;
  padding: 15px;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.category-banner:hover {
  background: #444;
  transform: scale(1.05);
}

.category-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.back-btn {
  background: #6c757d;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.back-btn:hover {
  background: #5a6268;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  transition: color 0.2s;
  display: flex;
  align-items: center;
}

.category-page .btn {
  color: #333;
}

.btn .material-icons {
  font-size: 24px;
}

.edit-btn:hover {
  color: #ffc107;
}

.delete-btn:hover {
  color: #dc3545;
}

/* Category view */
.selected-category-banner {
  background-color: #333;
  color: #fff;
  padding: 15px;
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.item-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.item-card h3 {
  margin-top: 0;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: color 0.2s;
}

.edit-btn:hover {
  color: #ffc107;
}

.delete-btn:hover {
  color: #dc3545;
}

.error {
  background-color: #dc3545;
}

/* Edit Category View */
.form-group {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin: 5px;
  color: #333;
}

.form-group input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.save-btn {
  background: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.save-btn:hover {
  background: #218838;
}

.cancel-btn {
  background: #dc3545;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.cancel-btn:hover {
  background: #c82333;
}
